doctype html
html(lang="en-us")
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width,initial-scale=1.0")
    link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500,700|Noto+Sans:400,400i,700")
  body
    #appContainer(class=`full-height`)
    
    script(type='text/javascript' src=`/app.js`)
    
